*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  height: 100%;
  width: 100%;
}
.parent{
  min-height: 100vh;
  width: 100%;
  background: #111;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.cards{
  height: 350px;
  width: 300px;
  padding: 10px 10px;
  border-radius: 30px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top{
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top button{
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.book{
  height: 20px;
}
.top img{
  height: 70px;
}
.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  /* align-items: center; */
}
.center h3{
  font-size: 30px;
}
.center span{
  font-size: 10px;
  font-weight: 300;
} 
.type{
  display: flex;
  gap: 10px;
}
.type h4{
  font-weight: 300;
  border-radius: 5px;
  text-align: center;
  width: 90px;
  background: gainsboro;
}

.bottom{
  display: flex;
  justify-content: space-between;
}
.bottom button{
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 10px;
}