*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  width: 100%;
  height: 100%;
  background: #111;
}
.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.card{
  width: 300px;
  color: white;
  border: 2px solid white;
  padding: 20px;
  border-radius: 10px;
  background: #222;
  text-align: center;
}
.card button{
  padding: 10px 20px;
  border: none;
  color: black;
  border-radius: 10px;
}
.card p{
  margin: 10px;
}